body {
    overflow: hidden;
}

#hero {
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 0vw 8vw 0vw 8vw;
    font-size: 18px;
    position: relative;
    overflow: hidden;
}

#img1 {
    display: none;
}

#img2 {
    display: none;
}

#hero h1 {
    font-size: 1.2em;
    color: #000;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    z-index: 1;
    margin-top: 25vh;
}

#hero p {
    font-size: 1em;
    font-weight: 600;
    z-index: 1;
}

#hero #logo_kabinet {
    width: 170vw;
    margin: 35vh -5vw 0 0;
    transform: translate(-50%, -50%);
    bottom: 11vw;
    z-index: 0;
}

#herobutton {
    margin-top: 4vw;
    width: 12em;
    font-size: 1em;
    z-index: 1;
}

#desc {
    max-width: 100vw;
    height: 80vh;
    background-color: #f5f5f5;
    font-size: 18px;
    position: relative;
    font-family: "Inter", sans-serif;
}

#desc h3 {
    font-size: 0.8em;
    color: #608bc0;
    letter-spacing: 0.2em;
    margin-top: 15vw;
    margin-bottom: -0.5em;
    text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-right: 10em;
}

#desc h1 {
    font-size: 3em;
    color: #133d87;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#desc p {
    font-size: 0.6em;
    color: #608bc0;
    font-family: "Inter", sans-serif;
    font-style: italic;
    letter-spacing: 0.1em;
    font-weight: 600;
    text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 10vh;
}

#photoframe {
    width: 82vw;
    height: 45vw;
    z-index: -1;
    margin: 0 9vw 0 9vw;
    background-color: #bec7d6;
    border-radius: 16px 16px 0 0;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    margin-top: 5vh;
}

#kadep {
    width: 90vw;
    margin-left: 7vw;
    transform: translateY(-100%);
}

#textbox {
    display: flex;
    width: 84vw;
    height: 47vw;
    left: 8vw;
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    position: absolute;
    top: 90vw;
    z-index: 1;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}

#textbox p {
    font-size: 0.6em;
    font-weight: 500;
    text-align: justify;
    color: #133d87;
    line-height: -1px;
}

#logo_kabinet_desc {
    display: none;
}

#visi {
    display: flex;
    width: 100vw;
    height: fit-content;
    background: linear-gradient(0deg, #94b6f3 0%, #bdc6d6 100%);
    padding: 15vw 8vw 15vw 8vw;
    flex-direction: column;
}

#ribbon {
    display: none;
}

#visileft p {
    display: block;
    font-size: 1em;
    margin-bottom: -0.5em;
    color: #608bc0;
    letter-spacing: 0.2em;
    font-weight: 600;
    text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
}

#visileft h1 {
    display: block;
    font-size: 4em;
    font-weight: 800;
    color: #133d87;
    text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
}

#visiright p {
    display: block;
    font-size: 0.8em;
    font-weight: 700;
    color: #133d87;
    margin-top: 15px;
    text-align: justify;
}

#misi {
    display: flex;
    width: 100vw;
    height: fit-content;
    padding: 15vw 8vw 27vw 8vw;
    flex-direction: column;
}

#misileft p {
    font-size: 1em;
    margin-bottom: -0.5em;
    color: #608bc0;
    letter-spacing: 0.2em;
    font-weight: 600;
    text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
    text-align: right;
}

#misileft h1 {
    font-size: 4em;
    font-weight: 800;
    color: #133d87;
    text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
    text-align: right;
}

#misiright p {
    font-size: 0.8em;
    font-weight: 700;
    margin-top: 15px;
    text-align: justify;
}

#filosofi {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 0 8vw 0 8vw;
    font-size: 18px;
    position: relative;
    flex-direction: column;
}

#flsftop {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#flsftop h1 {
    display: block;
    font-size: 2em;
    font-weight: 800;
    color: #133d87;
    text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
}

#flsftop p {
    display: block;
    font-size: 0.5em;
    color: #608bc0;
    letter-spacing: 0.4em;
    font-weight: 600;
    text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
    padding-right: 30vw;
    border-bottom: 5px solid #608bc0;
    margin-bottom: 19px;
    padding-bottom: 8px;
    margin-right: 1.5vw;
}

#flsfbottom {
    display: block;
    width: 100vw;
    height: fit-content;
}

#flsfleft {
    display: block;
    width: 84vw;
    height: 84vw;
    margin: 0 8vw 0 8vw;
    background-image: url(/assets/logo_kabinet.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#flsfright {
    display: flex;
    flex-direction: column;
    width: 84vw;
    min-height: 10vh;
    height: fit-content;
    margin-top: 2vh;
    margin-left: 8vw;
}

.flsfcards {
    display: flex;
    width: 100%;
    min-height: 5vh;
    height: fit-content;
    flex-direction: column;
    font-family: "Work Sans", sans-serif;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
}

.cardtop {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    align-items: center;
    padding: 7px;
}

.cardtop img {
    display: block;
    width: 10vw;
    height: 10vw;
    border-radius: 5px;
}

.cardtop h3 {
    display: block;
    font-size: 1.2em;
    font-weight: 800;
    color: #285397;
    margin-left: 0.7em;
}

.cardbottom {
    display: block;
    font-size: 0.7em;
    letter-spacing: -1px;
    font-weight: 600;
    color: #58719c;
    padding: 7px;
    height: 25vw;
}
