#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 94vw;
    height: 7.4vh;
    max-height: 11vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 2vw 3vw 2vw 3vw;
    padding: 1.6vw;
    z-index: 2;
    font-size: 18px;
    border-radius: 4vw;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

nav div {
    display: flex;
    align-items: center;
}

nav #navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav #menudiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 8px;
}

nav div img {
    width: 6vh;
    height: 6vh;
    margin-right: -1vh;
}

nav div h3 {
    font-size: 0.5em;
    color: #608bc0;
    font-weight: 700;
    margin-left: 3vw;
}

nav div h3 b {
    font-size: 1em;
    color: #133d87;
    font-weight: 800;
}

nav div .menu {
    font-size: 0.6em;
    color: #133d87;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-right: 2vw;
    text-decoration: none;
}

#menu_button {
    width: 5.8vh;
    height: 5.8vh;
    border: none;
    background: none;
    padding: 1vh 1.2vh 1vh 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
